.todolist{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    width: full;
}

.input-btn{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.list-container{
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 1 px solid green;
    gap: 4px;
}
li{
    padding: 4px;
    background-color: gray;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}