.grid{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(var(--columnCount),1fr);
    gap: 0;
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 4px;
    border: 1px solid black;
    user-select: none;
}
.colored{
    background-color: aqua;

}