input{
    width: 10px;
}
.Parents{
    display: flex;
    gap: 20px;
}

.indBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttonList{
 display: flex;
 flex-direction: column;
}

.inputclass{
    width: 100px;
}
